<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Who is pinimartec</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>We are a marketing data and technology startup focused on developing products and providing services that add
          value to marketing teams of various sizes. We offer both off-the-shelf and tailor made solutions that help
          teams target their martech and data challenges.
        </p>
      </div>
      <div class="col-lg-4">
        <p>Bruno Pini, founder of pinimartec, is a former growth marketer and now data engineer. He grew tired of
          the messy and coslty connector-as-a-service solutions available and dedicated his efforts on developing
          more comprehensive and simpler solutions for different realities.
        </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://kuara.pinimar.tech" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Check out our products
        </a>
      </div>
    </div>
  </div>
</section>